<!-- Main hero unit for a primary marketing message or call to action -->
.hero-unit
	%h1 #{data.page.title || "Chubs Rocks!"}
	%p
		:markdown
			Chubbs is a [Middleman](http://middlemanapp.com/) template that helps you quick start 
			a static site using:
			* **C**ompass
			* **H**aml
			* **U**hu! (a.k.a. happiness)
			* **B**ootstrap (from twitter)
			* **B**oilerplate HTML 5
			* **S**ass
		
		Compass
	%p
		%a.btn.btn-primary.btn-large{:href => "https://github.com/svallory/chubbs"} Learn more &raquo;